/target**
Cargo.lock
.DS_Store
test_data
*.db
*.db-shm
*.db-wal
.vscode/
rustc-ice*
wallet-api/wallet_data/
wallet-api/test_data_back/
data_**

account.toml
wallet-api/examples/client_config
example.toml
wallet.toml
wallet-api/examples/config.yaml
wallet-api/tests/smoke/transactions/sol_smoke.local.toml

*/sdk*
/.idea
/wallet-ecdh/.idea
.trae
logs
77wallet_feature_guide_zh.md
wallet-transport-backend/tests/backend_test_config.toml
PLANS.md
api-wallet-password-security.md
*/2.1/*
