/target**
Cargo.lock
.DS_Store
test_data
*.db
*.db-shm
*.db-wal
.vscode/
rustc-ice*
wallet-api/wallet_data/
wallet-api/test_data_back/
data_**

account.toml
wallet-api/examples/config.toml
example.toml
wallet.toml
wallet-api/examples/config.yaml

*/sdk*
/.idea
/wallet-ecdh/.idea
